.pwa-landing-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background: var(--white-bg);
    text-align: center;
}

.pwa-landing-container h1 {
    color: rgb(39, 39, 39);
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 40vh;
}

.button-group {
    margin-top: auto;        
    padding-bottom: 40px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pwa-landing-page .btn-primary {
    width: 200px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #FF4E00, #FFA040);
    color: var(--text-white);
    border: none;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    font-weight: 600;
}

.pwa-landing-page .btn-secondary {
    width: 200px;
    padding: 12px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
    font-size: 1rem;
    font-weight: 500;
}
