.main-layout {
  display: flex;
  height: 100vh;
  gap: 16px;
}

/* Navigation / Header column */
.main-layout-sidebar {
  width: 5%;
  background-color: #f3f4f6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}