.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: var(--white-bg);
}

/* Navigation / Header column */
.main-layout-sidebar {
  width: 80px;
  background-color: var(--white-bg);
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border-right: 1px solid var(--light-gray-border);
}

.main-layout-sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 1;
}