* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background: #f9fbfd;
    color: #0f172a;
    overflow-x: hidden;
}

.pg-page,
.cms-page,
.evac-page,
.user-page,
.cms-page,
.reports-page,
.reportverify-page,
.sys-page {
    width: 100%;
    min-height: 100%;
    background: #f8fafc;
    padding: 2.5rem;
    overflow-y: auto;
    min-height: 100vh;
}

.user-page h1,
.cms-page h1,
.reports-page h1,
.sys-page h1 {
    font-size: 1.8rem;
    color: #0f172a;
}


/* Tables */
.cms-page table,
.reports-page table {
    width: 100%;
    border-collapse: collapse;
}

.user-page table th,
.cms-page th,
.reports-page th,
.sys-page th {
    background: #f1f5f9;
    padding: 1rem;
    text-align: left;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #475569;
}

.cms-page td,
.reports-page td,
.sys-page td {
    padding: 0.75rem;
    font-size: 0.8rem;
    border-top: 1px solid #e5e7eb;
}

.cms-page tr:hover,
.reports-page tr:hover,
.sys-page tr:hover {
    background: #f8fafc;
}

.cms-page .table-title,
.reports-page .table-id {
    font-weight: 500;
}

.table-w-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Badges */
.cms-page .badge,
.reports-page .badge {
    padding: 0.25rem 0.6rem;
    border-radius: 999px;
    font-size: 0.75rem;
}

.cms-page .badge.Published,
.reports-page .badge.Verified {
    background: #22c55e;
    color: white;
}


.cms-page .badge.Draft,
.reports-page .badge.Pending {
    background: #e5e7eb;
    color: #374151;
}

/* Actions */
.cms-page .table-actions,
.reports-page .table-actions {
    display: flex;
    gap: 0.4rem;
}

/* Card */
.cms-page .card,
.reports-page .card, {
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.cms-page .icon-btn,
.reports-page .icon-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0.3rem;
}
